@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@300;400&family=Cormorant+Garamond:wght@300;400&display=swap');
/* importando duas fontes, a to título + texto comum */

body {
    background-color: #000000;
    color: #ffffff;
}

header {
    position: sticky;
    top: 0;
}

p {
    font-family: 'Cormorant Garamond', serif;
    color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    color: #ffffff;
    letter-spacing: 0.3em;
    margin: 0;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    color: #ffffff;
    letter-spacing: 0.3em;
    margin: 0;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.button {
    font-family: 'Cinzel', serif;
    font-size: 1em;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.titleMenor {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    color: #ffffff;
    letter-spacing: 0.3em;
    margin: 0;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.nav-link {
    font-family: 'Cinzel', serif;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

.nav-link-act {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.logo {
    opacity: 0.90;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

.ateez {
    opacity: 0.90;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

#filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#fundo-vid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: surgirVideo 2s ease forwards
}

@keyframes surgirVideo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}